img{
    width:100%;
    height: auto;
}
Button{
    width:100%;
    border-radius: 10px;
    color:black;
    background-color: greenyellow;
    margin: 2%;
}
Button #go{
    float: right;
    width:10%;
}
Button img{
    float: left;
    height:20%;
    width:20%;
}
.lorem{
    text-align: center;
}

p{
    font-size:20px;
    text-align: left;
}
.left{
    float:left;
}
.right{
    height:10%;
    width:10%;
    float:right;
}
.header{
    background-color: red;
}

.center{
    text-align: center;
}
.price{
    font-size: 30px;
}
.vertical-align {
    display: flex;
    align-items: center;
}
.wykresik{
    width:100%;
    height:auto;   
}
.opis{
    text-align: center;
}