img{
    width:100%;
    height: auto;
}
Button{
    width:100%;
    margin: 0.4em;
}

Button img{
    float: left;
    height:20%;
    width:20%;
}
h1{
    border-bottom: 5px solid #337ab7;
    padding-bottom: 5px;
    color:#337ab7;
    align-items: flex-start;
}
p{
    font-size:20px;
    text-align: center;
}
.left{
    float:left;
}
.right{
    height:10%;
    width:10%;
    float:right;
}
.center{
    text-align: center;
}
.price{
    font-size: 2em;
}
.vertical-align {
    display: flex;
    align-items: center;
}
.wykresik{
    width:100%;
    height:auto;   
}
.opis{
    align-items: flex-start;
    text-align: center;
}